DJANGO_SECRET_KEY='django-insecure-gktx#ia4k((#mv4@c*rv0de$d$yu)mx7^_vh1)=k+x@4#570e2'

# Database
DB_HOST='127.0.0.1'
DB_NAME='datalms'
DB_USER='root'
DB_PASSWORD='admin123'
DB_PORT='3306'

STRIPE_SECRET_KEY='sk_test_51Rr7C2RxfL4d83ykiKYtkS0kWs3YSJdRMQuE0lflhuVi47hxcqHNr85CwqVDr6dAlXJROSAREsDqssQD9R45wSYe0091H841kn'
STRIPE_PUBLIC_KEY='pk_test_51Rr7C2RxfL4d83ykhfXzOqy5LOQZYwm3QBNLKmUMZPYofhLJUX8ywByNZdF79MkEzinl47ChH21PWC6yBv3Zg2cZ00sQ8VnY59'